@model List<AnnouncementListDto>

@using TraversalCore.Mvc.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered table-striped">
    <tr>
        <td>#</td>
        <td>Duyuru Başlığı</td>
        <td>Duyuru Açıklaması</td>
        <td>Düzenle</td>
        <td>Sil</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnnouncementId</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td><a class="btn btn-outline-primary" href="/Admin/Announcement/UpdateAnnouncement/@item.AnnouncementId">Düzenle</a></td>
            <td><a class="btn btn-outline-danger" href="/Admin/Announcement/DeleteAnnouncement/@item.AnnouncementId">Sil</a></td>
        </tr>
    }
</table>

<a href="/Admin/Announcement/AddAnnouncement" class="btn btn-outline-success">Duyuru Ekle</a>
