@model GetGuideByIdResult

@{
    ViewData["Title"] = "GetGuides";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehber Bilgi Düzenleme Sayfası</h1>

<form method="post">
    <input  type="hidden" asp-for="GuideId"/>
    <div class="form-group">
        <label>Rehber Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
    </div>
        <div class="form-group">
        <label>Rehber Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
    </div>
    <button type="submit" class="btn btn-outline-primary">Bilgileri Güncelle</button>
</form>

