
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Excel Dosyası</h1>
<br />

<a href="/Excel/StaticExcelReport" class="btn btn-outline-info">Static Excel Raporları </a>
<a href="/Excel/DestinationExcelReport" class="btn btn-outline-info">Tur Rotaları Excel Raporları </a>
