@model List<ApiMovieViewModel>
@using TraversalCore.Mvc.Models


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table  table-bordered">t ( p)
    <tr>
        <th>#</th>
        <th>Film Adı</th>
        <th>Imdb Puanı</th>
        <th>Yapım Yılı</th>
        <th>Fragmanı</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.rank</td>
                <td>@item.title</td>
                <td>@item.rating</td>
                <td>@item.year</td>
                <td><a href="#" class="btn btn-outline-dark">Fragmanı İzle</a></td>
            </tr>
    }

</table>

